//
// Signal K Light Mode Colors
//

$sk-table-bg-light: $white;
$sk-table-hover-bg-light: $gray-100;
$sk-table-striped-bg-light: $gray-100;

$sk-plugin-config-array-item-bg-light: aliceblue;

//
// Signal K Dark Mode Colors
//

$sk-primary-dark: #5b9dff;

$sk-table-bg-dark: #212631;
$sk-table-hover-bg-dark: #32363f;
$sk-table-striped-bg-dark: #2d313b;

$sk-plugin-config-array-item-bg-dark: $gray-900;

//
// Apply Signal K Colors to Bootstrap Using Sass Overrides
//

// NOTE: use css vars for bs overrides that do not provide both "light" and "dark" variants:

:root,
[data-bs-theme='light'] {
  --sk-table-bg: #{$sk-table-bg-light};
  --sk-table-hover-bg: #{$sk-table-hover-bg-light};
  --sk-table-striped-bg: #{$sk-table-striped-bg-light};

  --sk-plugin-config-array-item-bg: #{$sk-plugin-config-array-item-bg-light};
}

[data-bs-theme='dark'] {
  --sk-table-bg: #{$sk-table-bg-dark};
  --sk-table-hover-bg: #{$sk-table-hover-bg-dark};
  --sk-table-striped-bg: #{$sk-table-striped-bg-dark};

  --sk-plugin-config-array-item-bg: #{$sk-plugin-config-array-item-bg-dark};
}
